.row {
  display: flex;
}

.product-detail {
  width: 80%;
  margin-left: 10%;
  margin-top: 5rem;
  font-size: 1.4rem;
}

.product-detail__img {
  margin-right: 2rem;
  width: 40%;

  .img-container {
    width: 100%;
    padding-top: 100%;
  }

  .sub-img {
    .subimg {
      padding: 1rem;
    }
  }
}

.product-detail__info {
  width: 60%;
}

.product-detail__brand,
.product-detail__status {
  display: flex;
  margin-right: 1rem;
  margin-top: 1rem;
  h4 {
    margin-right: 0.8rem;
  }
}

.product-detail__price {
  margin: 0.5rem 0;
  .price__afterdiscount {
    font-size: 2.8rem;
    font-weight: 700;
    color: $blueColor;
    padding-right: 1rem;
  }
  .price__beforediscount {
    font-size: 1.8rem;
    color: $grayColor-3;
    text-decoration: line-through;
  }
}

.product-detail__attributes {
  margin: 1rem 0;
  h4 {
    font-weight: 700;
    padding: 1rem 0;
    span {
      font-weight: 400;
    }
  }
}

.product-detail__quantity {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  .left {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    h4 {
      margin-right: 1rem;
    }
  }
}

.product-detail__tag {
  margin: 1rem 0;
  h4 {
    margin-right: 0.5rem;
  }
  span {
    padding-right: 0.5rem;
  }
}

.product-detail__btn {
  .button {
    width: 16rem;
    height: 4rem;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
