.categorycard {
  font-size: 1.6rem;

  .title {
    text-transform: uppercase;
  }
}

.categorycard__content {
  margin-top: 1rem;
}

.categorycard__category {
  .categorycard__category-name {
    padding: 0.5rem 1.5rem;
    border-left: 1px solid $grayColor-1;
    width: 100%;
    justify-content: space-between;
    position: relative;

    button {
      background-color: transparent;
      padding: 0.5rem 0;
      font-size: 1.6rem;
      &:hover{
        color: $mainColor;
      }
    }

    a,
    i {
      transition: all ease 0.3s;
    }

    .dropdown-btn {
      padding: 0 0.5rem;
      font-size: 1.4rem;
    }

  }

  .active {
    .dropdown-btn {
      transform: rotate(45deg);
    }

    i,
    a {
      color: $mainColor;
    }
  }

  .categorycard__category-name::before {
    content: "";
    width: 1rem;
    position: absolute;
    left: 0;
    top: 1.5rem;
    border-bottom: 1px solid $grayColor-1;
  }

  .categorycard__category-name:hover {

    a,
    i {
      color: $mainColor;
    }
  }

  .subcate-dropdown {
    height: 0;
    overflow: hidden;

    .subcate {
      padding: 0.5rem 2rem;
      border-left: 1px solid $grayColor-1;

      i,
      a {
        color: $grayColor-3;
        font-size: 1.4rem;
      }

      i {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }
    }

    .subcate:hover {

      i,
      a {
        color: $mainColor;
      }
    }
  }

  .subcate-active {
    height: auto;
  }
}