@import "./child/Login/login";
@import "./child/ProductInfo/productinfo";

//POP UP BUTTON
.modal {
  button:hover {
    background-color: $whiteColor;
    color: $mainColor;
    border: 1px solid $mainColor;
  }
}

.popup__cancel-btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  color: $whiteColor;
  text-align: center;
  line-height: 2rem;
  background-color: $dangerColor;
  font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 601px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 992px) {}