@import "./child/ProductInfo/productinfo";
@import "./child/AddCartPopup/addcart";

//POP UP BUTTON
.popup__cancel-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  color: $mainColor;
  font-size: 2rem;
  z-index: 7;
  cursor: pointer;
}

.popup__cancel-btn:hover {
  color: $dangerColor;
}