//product info popup
.productinfopopup {
  position: relative;
  padding-bottom: 1rem;
  max-width: 70%;
  max-height: 90vh;
  border-radius: 0.5rem;
  overflow-y: auto;
  background-color: $whiteColor;

  .productinfopopup__left {
    padding: 2rem;
    width: 35rem;
    align-items: center;

    .main-img {
      width: 100%;
      overflow: hidden;

      .img-container {
        border: 1px solid $mainColor;
        padding-top: 100%;
      }
    }

    .subimg-container {
      width: 100%;

      .subimg {
        width: 100%;
        padding: 0 0.5rem;

        .img-container {
          width: 100%;
          padding-top: 100%;
        }
      }
    }

    .special {
      width: 70%;

      .subimg {
        padding-left: 0;
      }
    }
  }

  .productinfopopup__info {
    padding: 2rem;
    margin-left: 2rem;
    width: 60%;
    font-size: 1.4rem;

    .title {
      font-weight: 600;
    }

    .productinfopopup__info-name {
      font-size: 2.2rem;
      max-width: 90%;
    }

    .productinfopopup__info-name:hover {
      color: $mainColor;
      cursor: pointer;
    }

    .productinfopopup__info-vend {
      margin-top: 0.8rem;
      color: $blackColor-3;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid $grayColor-1;
      font-weight: 600;

      .left {
        border-right: 1px solid $grayColor-1;
        padding: 0 0.8rem 0 0;
      }

      .right {
        margin-left: 0.8rem;
      }

      span {
        margin-left: 0.5rem;
        font-weight: 400;
      }
    }

    .productinfopopup__info-price {
      margin-top: 1rem;
      font-size: 2rem;

      span {
        color: $grayColor-2;
        text-decoration: line-through;
        font-weight: 500;
        font-size: 1.4rem;
        margin-left: 1.4rem;
      }
    }

    .productinfopopup__info-attributes {
      margin-top: 2rem;
      color: $blackColor-3;
      font-size: 1.4rem;

      div {
        margin-top: 0.8rem;
      }
    }

    .configurable-options {
      min-width: 60%;
      max-width: 70%;
      margin-top: 1.5rem;
      align-items: center;

      .title {
        min-width: 5rem;
      }

      .option {
        min-width: 50%;
        margin-left: 3.5rem;
        justify-content: space-evenly;
        font-size: 1.2rem;
      }

      .option-more {
        min-width: 70%;
      }

      .option-item {
        border: 1px solid $blackColor-3;
        padding: 0.5rem;
        border-radius: 1.2rem;
        min-width: 3rem;
        text-align: center;
        cursor: pointer;
      }

      .option-item:hover {
        border: 1px solid $mainColor;
        color: $mainColor;
      }

      .option-item__click {
        border: 1px solid $mainColor;
        color: $mainColor;
      }
    }

    .productinfopopup__info-quantity {
      padding-top: 1.6rem;
      justify-content: space-between;
      align-items: center;
      //max-width: 90%;

      button {
        width: 3rem;
        height: 3rem;
        border: 1px solid $grayColor-1;
        font-size: 18px;
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: $whiteColor;
        color: $mainColor;
        border: 1px solid $mainColor;
      }

      button:disabled {
        background-color: $grayColor-1;
        pointer-events: none;
      }

      input {
        width: 4rem;
        text-align: center;
        outline: none;
        font-size: 1.6rem;
        border: 1px solid $grayColor-1;
      }

      .number-product {
        color: $grayColor-3;
        font-size: 1.2rem;
      }
    }

    .addcart-btn {
      margin: 3rem auto 0;
      width: 23rem;
      height: 4rem;
      display: block;
      font-size: 1.4rem;
      background-color: $mainColor;
      color: $whiteColor;
    }

    .addcart-btn:hover {
      background-color: $whiteColor;
      border: 1px solid $mainColor;
      color: $mainColor;
    }
  }

  .slick-next::before,
  .slick-prev::before {
    opacity: 1;
  }

  .slick-prev {
    left: -2rem;
  }

  .slick-next {
    right: -2rem;
  }
}

.productinfopopup::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 601px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .productinfopopup {
    .productinfopopup__left {
      width: 25rem;

      .main-img {
        width: 100%;
        overflow: hidden;

        .img-container {
          width: 100%;
          padding-top: 100%;
        }
      }
    }

    .productinfopopup__info {
      .title {
        font-weight: 600;
      }

      .productinfopopup__info-name {
        font-size: 1.8rem;
      }

      .productinfopopup__info-price {
        font-size: 1.6rem;
      }

      .productinfopopup__info-attributes {
        margin-top: 2rem;
        color: $blackColor-3;
        font-size: 1.4rem;

        div {
          margin-top: 0.8rem;
        }
      }

      .productinfopopup__info-color,
      .productinfopopup__info-size {
        max-width: 80%;
        margin-top: 1.5rem;
        align-items: center;


        .color,
        .size {
          margin-left: 3rem;
        }

        .color-item,
        .size-item {
          border: 1px solid $blackColor-3;
          padding: 0.5rem;
          border-radius: 1.2rem;
          cursor: pointer;
        }
      }

      .productinfopopup__info-quantity {
        max-width: 100%;

        button {
          font-size: 1.6rem;
        }

        input {
          width: 3.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .productinfopopup {
    max-width: 60%;
  }
}