.text-brand{
  color:$mainColor;
}
.border-brand{
  border-color: $mainColor;
}
.border-gray{
  border-color: $grayColor;
}
.bg-brand{
  background-color: $mainColor;
}
.bg-white{
  background-color: $whiteColor;
}
