//Color
$mainColor: #35c0c5;
$blackColor: #212529;
$blackColor-2: #363636;
$whiteColor: #fff;
$grayColor: #cccccc;
$grayColor-2: #acacac;
$grayColor-3: #898989;
$grayColor-4: #ebebeb;

$successColor: green;
$dangerColor: rgb(230, 59, 59);
$warningColor: rgb(241, 241, 64);

//Transition
$transition: all 400ms;

//Container Width
$container-lg: 100%;
$container-md: 90%;

@mixin btnStyle {
    width: max-content;
    border: 1px solid $grayColor-4;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: none;

    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    color: $blackColor;
    background-color: $whiteColor;

    cursor: pointer;
}