//Color
$mainColor: #5dccd0;
$blackColor: #212529;
$blackColor-2: #363636;
$whiteColor: #fff;
$grayColor: #cccccc;
$grayColor-2: #acacac;
$grayColor-3: #898989;
$grayColor-4: #ebebeb;

$successColor: green;
$dangerColor: rgb(230, 59, 59);
$warningColor: rgb(241, 241, 64);

//Transition
$transition: all 400ms;

//Container Width
$container-lg: 100%;
$container-md: 90%;